<!doctype html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Heuristic Lab</title>
    <link href="/assets/css/app.css" rel="stylesheet" type="text/css">
    <script src="/assets/js/foundation.js"></script>
    <script src="/assets/js/routes.js"></script>
    <script src="/assets/js/app.js"></script>
  </head>
  <body>
    <div class="grid-frame vertical">
      <div class="grid-content shrink" style="padding: 0;">

        <div class="menu-group primary">
          <div class="menu-group-left">
            <ul class="menu-bar primary">
              <li><a ui-sref="home"><strong>Heuristic Lab</strong></a></li>
              <li><a ui-sref="analyze.candidate"><sup>Анализ</sup>акмеограммы</a></li>
              <li><a ui-sref="analyze.profession"><sup>Анализ</sup>профессиограммы</a></li>
              <li><a ui-sref="analyze.matches"><sup>Анализ</sup>соответствий</a></li>
            </ul>
          </div>
          <div ng-if="data.key==data.trueKey" class="menu-group-right">
            <ul class="menu-bar primary">
              <li><a ui-sref="config-candidates"><sup>Настройка</sup>акмеограмм</a></li>
              <li><a ui-sref="config-professions"><sup>Настройка</sup>профессиограмм</a></li>
              <li><a ui-sref="config-criterions"><sup>Настройка</sup>критериев</a></li>
            </ul>
          </div>
        </div>

      </div>
      <div class="grid-content">
        <div class="grid-container">
          <div ng-class="['ui-animation']" ui-view></div>
        </div>
      </div>
    </div>



    <!-- Notify -->
    <zf-notification-set id="main-notification" position="top-right"></zf-notification-set>


  </body>
</html>
