@import "settings";
@import "foundation";



.block-list li > input[type="radio"] + label::before{
  content:' ';
  padding-left:2em;
}

.block-list li.choosen > input[type="radio"] + label::before{
  float:left;
  padding-left:2em;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="32" height="32" viewBox="0 0 32 32"><path fill="black" d="M16 0c-8.837 0-16 7.163-16 16s7.163 16 16 16 16-7.163 16-16-7.163-16-16-16zm6.906 8.875l2.219 2.031-12.063 13.281-6.188-6.188 2.125-2.125 3.938 3.938 9.969-10.938z"/></svg>');
  content: '';
  background-size: 100% 100%;
  width: 1.5em;
  height: 1.5em;
  color: #00558b;
  margin-top: -0.25em;
  pointer-events: none;
}
