---
name: analyze.candidate
url: /candidate
controller: AnalyzeCandidatesCtrl
---

<h1>Подбор профессии</h1>

<a ng-click="startAnalyze()" class="button large expand">GO!</a>

<strong><header style="color:#005c96">Акмеограмма пользователя:</header></strong>
<select ng-model="data.prerequest.candidate_id" ng-options="can._id.$oid as can.candidate_name for can in data.data.candidates"></select>

</br>
<strong><header style="color:#005c96">Профессиограммы:</header></strong>
<div class="card">
  <div class="card-section">
    <ul class="button-group float-right">

      <li class="secondary">
        <button ng-click="checkAll()" class="button small">
          Все
        </button>
      </li>

      <li class="secondary">
        <a ng-click="uncheckAll()" class="button small">
          Ничего
        </a>
      </li>

    </ul>
  </div>

  <div class="card-section" ng-repeat="pro in data.data.professions" >
    <input type="checkbox" ng-model="data.prerequest.professions[pro._id.$oid]"/>
    <label>{{pro.profession_name}}</label>
  </div>

</div>


<br/><hr/><hr/><br/>
<h1>{{data.results.candidate_name}}</h1>
<div ng-repeat="p in data.results.professions | orderBy:'compatibility_percentage':true">
  <h5><strong>{{p.profession_name}}</strong>&nbsp&nbsp&nbsp-&nbsp&nbsp&nbsp{{p.compatibility_percentage*100 | number:2}}<small>%</small></h5>
  <meter min="0" max="100" low="40" high="60" optimum="90" value="{{p.compatibility_percentage*100}}"></meter>
</div>

<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
