---
name: analyze.profession
url: /profession
controller: AnalyzeProfessionsCtrl
---


<h1>Подбор кандидата</h1>

<a ng-click="startAnalyze()" class="button large expand">GO!</a>

<strong><header style="color:#005c96">Профессиограмма:</header></strong>
<select ng-model="data.prerequest.profession_id" ng-options="pro._id.$oid as pro.profession_name for pro in data.data.professions"></select>

</br>
<strong><header style="color:#005c96">Акмеограммы:</header></strong>
<div class="card">
  <div class="card-section">
    <ul class="button-group float-right">

      <li class="secondary">
        <button ng-click="checkAll()" class="button small">
          Все
        </button>
      </li>

      <li class="secondary">
        <a ng-click="uncheckAll()" class="button small">
          Ничего
        </a>
      </li>

    </ul>
  </div>

  <div class="card-section" ng-repeat="can in data.data.candidates" >
    <input type="checkbox" ng-model="data.prerequest.candidates[can._id.$oid]"/>
    <label>{{can.candidate_name}}</label>
  </div>

</div>

<br/><hr/><hr/><br/>

<h1>{{data.results.profession_name}}</h1>
<div ng-repeat="c in data.results.candidates | orderBy:'compatibility_percentage':true">
  <h5><strong>{{c.candidate_name}}</strong>&nbsp&nbsp&nbsp-&nbsp&nbsp&nbsp{{c.compatibility_percentage*100 | number:2}}<small>%</small></h5>
  <meter min="0" max="100" low="40" high="60" optimum="90" value="{{c.compatibility_percentage*100}}"></meter>
</div>

<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
