---
name: analyze.matches
url: /matches
controller: AnalyzeMatchesCtrl
---

<h1>Подбор соответствий</h1>

<a ng-click="startAnalyze()" class="button large expand">GO!</a>

<strong><header style="color:#005c96">Акмеограммы:</header></strong>
<div class="card">
  <div class="card-section">
    <ul class="button-group float-right">

      <li class="secondary">
        <button ng-click="checkAllCans()" class="button small">
          Все
        </button>
      </li>

      <li class="secondary">
        <a ng-click="uncheckAllCans()" class="button small">
          Ничего
        </a>
      </li>

    </ul>
  </div>

  <div class="card-section" ng-repeat="can in data.data.candidates" >
    <input type="checkbox" ng-model="data.prerequest.candidates[can._id.$oid]"/>
    <label>{{can.candidate_name}}</label>
  </div>
</div>





</br>



<strong><header style="color:#005c96">Профессиограммы:</header></strong>
<div class="card">
  <div class="card-section">
    <ul class="button-group float-right">

      <li class="secondary">
        <button ng-click="checkAllProfs()" class="button small">
          Все
        </button>
      </li>

      <li class="secondary">
        <a ng-click="uncheckAllProfs()" class="button small">
          Ничего
        </a>
      </li>

    </ul>
  </div>

  <div class="card-section" ng-repeat="pro in data.data.professions" >
    <input type="checkbox" ng-model="data.prerequest.professions[pro._id.$oid]"/>
    <label>{{pro.profession_name}}</label>
  </div>

</div>



<br/><hr/><hr/><br/>

<table class="matches-result-table" width=100%>
    <thead>
        <tr ng-if="$first" ng-repeat="c in data.results">
            <th></th>
            <th ng-repeat="p in c.professions">{{p.profession_name}}</th>
        </tr>
    </thead>

    <tbody>

        <tr ng-repeat="c in data.results">
            <td>{{c.candidate_name}}</td>
            <td ng-repeat="p in c.professions">{{p.compatibility_percentage*100 | number:2}}%</td>
        </tr>

    </tbody>

</table>










<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
