---
name: config-candidates
url: /config-candidates
controller: SettingsCandidatesCtrl
---

<h1>
  Акмеограммы
  <small>{{data.data.candidates.length}}</small>
</h1>



<ul class="button-group">

  <li class="success">
    <a zf-open="dialogAskSaveCandidates" class="button">
      <img zf-iconic="" icon="circle-check" size="small">
      <strong>Сохранить изменения</strong>
    </a>
  </li>

  <li class="alert">
    <a zf-open="dialogAskResetCandidates" class="button">
      <img zf-iconic="" icon="ban" size="small">
      <strong>Отменить изменения</strong>
    </a>
  </li>

</ul>



<zf-accordion auto-open="false" multi-open="true">
  <zf-accordion-item ng-repeat="candidate in data.data.candidates" title="{{candidate.candidate_name}}">
    <section class="block-list">
      <header style="color:#005c96">Имя:</header>
      <ul>
        <li>
          <input type="text" placeholder="Имя кандидата..." ng-model="candidate.candidate_name">
        </li>
      </ul>
    </section>
      </br>

    <section ng-repeat="crit in data.data.criterions" class="block-list">
      <header style="color:#005c96">
        {{crit.question_text}}
      </header>
      <ul>
        <form name="frm{{$parent.$parent.$index}}{{$parent.$index}}{{$index}}">
          <li ng-class="{choosen:$index==candidate.info[crit._id.$oid]}" ng-repeat="answer in crit.answers">
            <input type="radio" name="rad{{$parent.$parent.$index}}{{$parent.$index}}{{$index}}" id="rad{{$parent.$parent.$index}}{{$parent.$index}}{{$index}}" ng-model="candidate.info[crit._id.$oid]" ng-value="$index">
            <label for="rad{{$parent.$parent.$index}}{{$parent.$index}}{{$index}}" style="padding-left:10px;">{{answer.answer_text}}</label>
          </li>
        </form>
      </ul>
    </section>








  </zf-accordion-item>
</zf-accordion>


<a class="large button float-right" style="margin-right:0" ng-click="addCandidate()">
  <strong>+ акмеограмма</strong>
</a>





















<!-- Modals -->
<div zf-modal="" id="dialogAskSaveCandidates" overlay="true" overlay-close="true" class="tiny dialog">
  <h5>Вы уверены, что хотите <strong>сохранить</strong> все изменения?</h5>
  <a zf-close="" ng-click="saveChanges()" class="default expand button">Да</a>
  <a zf-close="" class="dark expand button">Нет</a>
</div>

<div zf-modal="" id="dialogAskResetCandidates" overlay="true" overlay-close="true" class="tiny dialog">
  <h5>Вы уверены, что хотите <strong>отменить</strong> все изменения?</h5>
  <a zf-close="" ng-click="resetChanges()" class="default expand button">Да</a>
  <a zf-close="" class="dark expand button">Нет</a>
</div>
