---
name: config-professions
url: /config-professions
controller: SettingsProfessionsCtrl
---

<h1>
  Профессиограммы
  <small>{{data.data.professions.length}}</small>
</h1>


<ul class="button-group">

  <li class="success">
    <a zf-open="dialogAskSaveProfessions" class="button">
      <img zf-iconic="" icon="circle-check" size="small">
      <strong>Сохранить изменения</strong>
    </a>
  </li>

  <li class="alert">
    <a zf-open="dialogAskResetProfessions" class="button">
      <img zf-iconic="" icon="ban" size="small">
      <strong>Отменить изменения</strong>
    </a>
  </li>

</ul>



<zf-accordion color="success" auto-open="false" multi-open="true">
  <zf-accordion-item ng-repeat="p in data.data.professions" title="{{p.profession_name}}">

    <section class="block-list">
      <header style="color:#005c96">Название профессии:</header>
      <ul>
        <li>
          <input type="text" placeholder="Название профессии..." ng-model="p.profession_name">
        </li>
      </ul>
    </section>
      </br>

    <section ng-repeat="c in data.data.criterions" class="block-list">
      <header style="color:#005c96">
        {{c.question_text}}
      </header>
      <ul>
        <li ng-repeat="a in c.answers">
          <label style="margin:0">
            <span class="inline-label" style="margin:0">
              <span class="form-label" style="width:33%; background:#fff; border:0">
                <strong>
                  {{a.answer_text}}
                </strong>
              </span>
              <span style="width:4%; text-align:center;"
                    ng-class="{
                                label: true,
                                alert: p.weight[c._id.$oid][$index]<0,
                                warning :p.weight[c._id.$oid][$index]==0,
                                success: p.weight[c._id.$oid][$index]>0
                              }">
                  <strong>
                    {{p.weight[c._id.$oid][$index] || 0}}
                  </strong>
              </span>
              <input
                      min="-25"
                      max="25"
                      type="range"
                      ng-model="p.weight[c._id.$oid][$index]"
                      ng-init="p.weight[c._id.$oid][$index] = p.weight[c._id.$oid][$index].toString() || '0'.toString()" class="success"
                    >
            </span>
          </label>
        </li>
      </ul>
    </section>

      </br>

  </zf-accordion-item>
</zf-accordion>


<a class="large button float-right" style="margin-right:0" ng-click="addProfession()">
  <strong>+ профессиограмма</strong>
</a>







<!-- Modals -->
<div zf-modal="" id="dialogAskSaveProfessions" overlay="true" overlay-close="true" class="tiny dialog">
  <h5>Вы уверены, что хотите <strong>сохранить</strong> все изменения?</h5>
  <a zf-close="" ng-click="saveChanges()" class="default expand button">Да</a>
  <a zf-close="" class="dark expand button">Нет</a>
</div>

<div zf-modal="" id="dialogAskResetProfessions" overlay="true" overlay-close="true" class="tiny dialog">
  <h5>Вы уверены, что хотите <strong>отменить</strong> все изменения?</h5>
  <a zf-close="" ng-click="resetChanges()" class="default expand button">Да</a>
  <a zf-close="" class="dark expand button">Нет</a>
</div>
