---
name: config-criterions
url: /config-criterions
controller: SettingsCriterionsCtrl
---

<h1>
  Вопросы
  <small>{{data.data.length}}</small>
</h1>


<ul class="button-group">

  <li class="success">
    <a zf-open="dialogAskSaveCriterions" class="button">
      <img zf-iconic="" icon="circle-check" size="small">
      <strong>Сохранить изменения</strong>
    </a>
  </li>

  <li class="alert">
    <a zf-open="dialogAskResetCriterions" class="button">
      <img zf-iconic="" icon="ban" size="small">
      <strong>Отменить изменения</strong>
    </a>
  </li>

</ul>



<zf-accordion color="success" auto-open="false" multi-open="true">

  <zf-accordion-item ng-repeat="q in data.data" title="{{q.question_text}}">

    <section class="block-list">
      <header style="color:#005c96">Вопрос:</header>
      <ul>
        <li>
          <input type="text" placeholder="Вопрос для акмеограммы..." ng-model="q.question_text">
        </li>
      </ul>
    </section>
      </br>
    <section class="block-list">
      <header style="color:#005c96">Ответы</header>
      <ul>
        <li ng-repeat="a in q.answers">
          <input type="text" placeholder="Ответ #{{$index}}" ng-model="a.answer_text">
        </li>
        <li>
          <a class="small button secondary" style="margin-right:0" ng-click="addAnswerToCriterion(q)">
            <strong>+ ответ</strong>
          </a>
        </li>
      </ul>
    </section>
      </br>
    <section class="block-list">
      <header style="color:#005c96">Дополнительно:</header>
      <ul>
        <li>
          <span>Идентификатор: <strong>{{q._id.$oid}}</strong></span>
        </li>
        <!-- <li>
          <span>Игнорировать</span>
          <div class="switch">
            <input type="checkbox" id="swnumber{{$index}}" ng-model="q.ignore">
            <label for="swnumber{{$index}}"></label>
          </div>
        </li> -->
      </ul>
    </section>

  </zf-accordion-item>

</zf-accordion>


<a class="large button float-right" style="margin-right:0" ng-click="addCriterion()">
  <strong>+ вопрос</strong>
</a>







<!-- Modals -->
<div zf-modal="" id="dialogAskSaveCriterions" overlay="true" overlay-close="true" class="tiny dialog">
  <h5>Вы уверены, что хотите <strong>сохранить</strong> все изменения?</h5>
  <a zf-close="" ng-click="saveChanges()" class="default expand button">Да</a>
  <a zf-close="" class="dark expand button">Нет</a>
</div>

<div zf-modal="" id="dialogAskResetCriterions" overlay="true" overlay-close="true" class="tiny dialog">
  <h5>Вы уверены, что хотите <strong>отменить</strong> все изменения?</h5>
  <a zf-close="" ng-click="resetChanges()" class="default expand button">Да</a>
  <a zf-close="" class="dark expand button">Нет</a>
</div>
