---
name: home
url: /
controller: HomepageCtrl
---

<center>
    <div>
        <input class="keyinput" type="password" ng-model="data.key" ng-change="keyChanged()"></input>
    </div>
    <br/><br/><br/><br/><br/>
    <h4>Welcome to</h4>
    <h2>Heuristic Lab!</h2>
</center>
